<div id="app">
   
  <div class="row col-12" style="margin-top: 20px;">
    <div  class="col-4">
      <ng-multiselect-dropdown
     
      [placeholder]="'Select Genres'"
      [settings]="dropdownSettings"
      [data]="dropdownList"
      [(ngModel)]="selectedItems"
      (onSelect)="onItemSelect($event)"
      (onSelectAll)="onSelectAll($event)"
      (onDeSelectAll)="onItemDeSelectAll($event)"
      (onDeSelect)="onItemDeSelect($event)"
    >
    </ng-multiselect-dropdown>
  </div>
  <div class="col-5">
    <mat-form-field appearance="fill">
      <mat-label>Sort</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="food" (selectionChange)="sortMovie($event)">
        <mat-option *ngFor="let sort of sortOnBasis" [value]="sort.value">
          {{sort.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-2"></div>
  <div class="col-1">
    <button mat-raised-button [routerLink]="['admin-login']"> Admin Login</button>

  </div>
  </div>
    
   
  

      <div class="row col-12" style="margin-top: 10px">
        <mat-form-field appearance="outline" class=" search--input col-7">
          <input matInput (keydown.space)="$event.preventDefault();" type="text" [(ngModel)]="searchModel"
              id="search" placeholder="Search to type" autocomplete="off" (keyup.enter)="searchMovies()">
      </mat-form-field>
      <div class="col-1">
        <button  mat-raised-button color="primary" (click)="searchMovies()">Search</button>
        </div>

        <div class="col-1">
          <button mat-raised-button color="primary" (click)="resetFilter()">Reset</button>
        </div>
            </div>
     

    <div class="container">
        
        <div class="card" *ngFor="let user of movieList | paginate: { itemsPerPage: 10, currentPage: pageNo, totalItems: total }">
            <div class="header">
                <span class="subHeaderText" style="overflow-wrap: break-word;">{{ user.name }}</span>
                <span class="headerText">{{ user.director }}</span>
            </div>
            <div class="footer">
                <p>
                    <span class="fa fa-star checked"></span>
                    <span class="descriptionText">{{ user.imdb_score }}</span>
                </p>
                <p>Genre</p>
                <span class="descriptionText" *ngFor="let genre of user.genre">
                    <span>&nbsp;&#9673;</span>
                    {{" "+genre}}
                </span>

                <p>
                    <span> 99Popularity</span>
                    <span class="descriptionText">&nbsp;&nbsp;{{ user['99popularity'] }}</span>
                </p>

            </div>
        </div>

        

    </div>
    <p *ngIf="total==0">No data available! Try changing the filter or click reset</p>
    <pagination-controls *ngIf="total>0" (pageChange)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)" [maxSize]="9"
    [directionLinks]="true"  [responsive]="true" previousLabel="Previous" nextLabel="Next"
    screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
    screenReaderCurrentLabel="You're on page">
</pagination-controls>
</div>